#main_container {
  height: 100%;
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  border-top-right-radius: 50px;
  border-end-end-radius: 50px;
  background: linear-gradient(
    to bottom right,
    #87b7ff,
    #c1eeef,
    #756ff1,
    #02a4ea,
    #5adcc7,
    #00c9ff,
    #1f65b0,
    #83d4cc
  );
  background-repeat: no-repeat;
  background-size: 1000% 1000%;
  animation: gradient 240s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 0%;
  }
  50% {
    background-position: 100% 100%;
  }
  100% {
    background-position: 0% 0%;
  }
}

#weather-container {
  height: 60%;
  width: 90%;
}

#weekly-weather {
  display: flex;
  padding-left: 25px;
}

.hidden {
  display: none;
}
